<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="layui/css/layui.css" media="all">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin" id="app">
    <template>
        <title>[[ title ]]</title>
        <div class="layui-header" id="header">
            <div class="layui-logo">[[ title ]]</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img :src="user.img" class="layui-nav-img">
                        [[ user.name ]]
                    </a>
                </li>
                <li class="layui-nav-item"><a href="logout">注销</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black" id="left_side">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree layui-inline">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a>数据管理</a>
                        <dl class="layui-nav-child">
                            <dd><a @click="page_type='data'">数据设置</a></dd>
                            <dd><a @click="page_type='template'">模板管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a>资源管理</a>
                        <dl class="layui-nav-child">
                            <dd><a @click="page_type='file'">普通文件管理</a></dd>
                            <dd><a @click="page_type='image'">图片管理</a></dd>
                            <dd><a @click="page_type='music'">音乐管理</a></dd>
                            <dd><a @click="page_type='video'">视频管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a>基础设置</a>
                        <dl class="layui-nav-child">
                            <dd><a @click="page_type='base'">后台信息设置</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a>用户及安全</a>
                        <dl class="layui-nav-child">
                            <dd><a @click="page_type='user_info'">用户信息</a></dd>
                            <dd><a @click="page_type='password'">密码修改</a></dd>
                            <dd><a @click="dev_mode">开发者模式</a></dd>
                        </dl>
                    </li>

                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 0px;">
                <data_form v-show="page_type==='data'" :current_data="type_data" :stack="[]" :template="template"
                           @data_change="on_data_change('data',$event)"
                           @delete_data="on_delete_data('data',$event)"
                           @add_new_data="on_add_new_data('data',$event)"
                           @to_template="on_to_template($event)"
                           :dev="dev" co_type="data">
                </data_form>
                <div v-show="page_type==='base'"  style="text-align: center;">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">标题栏</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" v-model="tmp_title" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">网站版权</label>
                            <div class="layui-input-inline">
                                <input type="text" name="footer" v-model="tmp_footer" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <button @click="change_base_info" class="layui-btn layui-btn-radius layui-btn-sm">确认修改</button>
                </div>
                <div v-show="page_type==='password'" style="text-align: center">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">旧密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="old_ps" v-model="old_ps" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="new_ps" v-model="new_ps" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">重复新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="new_ps2" v-model="new_ps2" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <button @click="change_password" class="layui-btn layui-btn-radius layui-btn-sm">确认修改</button>
                </div>
                <div v-show="page_type==='file'">
                    <button type="button" class="layui-btn" id="upload_file"><i class="layui-icon"></i>选择文件</button>
                    <button type="button" class="layui-btn" id="start_upload_file">开始上传</button>
                    <table class="layui-table">
                        <colgroup>
                            <col>
                            <col width="100px">
                        </colgroup>
                        <thead class="layui-table-header">
                            <tr>
                                <th>
                                    文件地址
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in file_data">
                                <td><a :href="item.url">[[item.url]]</a></td>
                                <td>
                                    <button class="layui-btn layui-btn-sm layui-btn-danger" @click="delete_file(file_data,item.url)">删除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-show="page_type==='image'">

                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="upload_image">选择图片</button>
                        <button type="button" class="layui-btn" id="start_upload_image">开始上传</button>
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" width="100px" height="100px" style="border-width: thin" id="upload_img_preview">
                        </div>
                    </div>
                    <table class="layui-table">
                        <colgroup>
                            <col>
                            <col width="180px">
                            <col width="100px">
                        </colgroup>
                        <thead class="layui-table-header">
                        <tr>
                            <th>
                                图片地址
                            </th>
                            <th>
                                缩略图（点击预览）
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in image_data">
                                <td>[[item.url]]</td>
                                <td style="text-align: center">
                                    <img @click="show_image(item.url)" style="border-width: 1px" width="40px" height="40px" :src="item.thumbnail">
                                </td>
                                <td>
                                    <button class="layui-btn layui-btn-sm layui-btn-danger" @click="delete_image(item.name)">删除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-show="page_type==='music'">

                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="upload_music">选择音乐</button>
                        <button type="button" class="layui-btn" id="start_upload_music">开始上传</button>
                    </div>
                    <table class="layui-table">
                        <colgroup>
                            <col>
                            <col width="300px">
                            <col width="100px">
                        </colgroup>
                        <thead class="layui-table-header">
                        <tr>
                            <th>
                                音乐地址
                            </th>
                            <th>
                                试听
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in music_data">
                            <td>[[item.url]]</td>
                            <td>
                                <audio controls>
                                    <source :src="item.url">
                                    浏览器不支持该格式
                                </audio>
                            </td>
                            <td>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" @click="delete_file(music_data,item.url)">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div v-show="page_type==='video'">

                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="upload_video">选择视频</button>
                        <button type="button" class="layui-btn" id="start_upload_video">开始上传</button>
                    </div>
                    <table class="layui-table">
                        <colgroup>
                            <col>
                            <col width="200px">
                        </colgroup>
                        <thead class="layui-table-header">
                        <tr>
                            <th>
                                视频地址
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in video_data">
                            <td>[[item.url]]</td>
                            <td>
                                <button class="layui-btn layui-btn-sm" @click="show_video(item.url)">播放</button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" @click="delete_file(video_data,item.url)">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div v-show="page_type==='user_info'" style="text-align: center">
                    <img :src="tmp_user_img" class="layui-nav-img" style="width: 100px; height: 100px;">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户头像（URL）</label>
                            <div class="layui-input-inline">
                                <input type="text" name="user_img" v-model="tmp_user_img" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="user_name" v-model="tmp_user_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <button @click="change_user_info" class="layui-btn layui-btn-radius layui-btn-sm">确认修改</button>
                </div>
                <div v-show="page_type==='dev'" style="text-align: center">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">原开发密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="old_dev_ps" v-model="old_dev_ps" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">新开发密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="new_dev_ps" v-model="new_dev_ps" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">重复新开发密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="new_dev_ps2" v-model="new_dev_ps2" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <button @click="change_dev_password" class="layui-btn layui-btn-radius layui-btn-sm">修改开发密码</button>
                    <button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger" @click="close_dev">关闭开发者模式</button>
                </div>
                <data_form v-show="page_type==='template'" :current_data="template" :stack="[]" :template="template"
                           @data_change="on_data_change('template',$event)"
                           @delete_data="on_delete_data('template',$event)"
                           @add_new_data="on_add_new_data('template',$event)"
                           :dev="dev"
                           co_type="template">
                </data_form>
            </div>
        </div>

        <div class="layui-footer" style="text-align: center">
            [[ footer ]]
        </div>
    </template>
</div>

<div id="rich_edit" name="content" lay-ignore="true">
</div>


<script src="vue.js"></script>
<script src="layui/layui.all.js" charset="utf-8"></script>
<script src="md5.js"></script>
<script src="classic/ckeditor.js"></script>



<script>

    layui.use(["jquery", "element", "layer", "form", "upload"], function () {
        let $ = layui.jquery;
        let element = layui.element;
        let form = layui.form;
        let layer = layui.layer;
        let upload = layui.upload;

        let csrf_token = "{{ csrf_token() }}";

        $("#rich_edit").hide();


        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });


        class MyUploadAdapter {
            constructor( loader ) {
                this.loader = loader;
                this.url = 'article_image';
            }

            upload() {
                return this.loader.file_manager
                    .then( file => new Promise((resolve, reject) => {
                        this._initRequest();
                        this._initListeners( resolve, reject, file );
                        this._sendRequest( file );
                    }));
            }

            abort() {
                if ( this.xhr ) {
                    this.xhr.abort();
                }
            }

            _initRequest() {
                const xhr = this.xhr = new XMLHttpRequest();

                xhr.open( 'POST', this.url, true );
                xhr.responseType = 'json';
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }

            _initListeners( resolve, reject, file ) {
                const xhr = this.xhr;
                const genericErrorText = 'Couldn\'t upload file:' + ` ${ file.name }.`;

                xhr.addEventListener( 'error', () => reject( genericErrorText ) );
                xhr.addEventListener( 'abort', () => reject() );
                xhr.addEventListener( 'load', () => {
                    const response = xhr.response;
                    if ( !response || response.error ) {
                        return reject( response && response.error ? response.error.message : genericErrorText );
                    }
                    resolve( {
                        default: response.url
                    } );
                } );
            }

            _sendRequest(file) {
                const data = new FormData();
                data.append( 'file_manager.py', file );
                this.xhr.send( data );
            }
        }


        function MyCustomUploadAdapterPlugin( editor ) {
            editor.plugins.get( 'FileRepository' ).createUploadAdapter = ( loader ) => {
                return new MyUploadAdapter( loader );
            };
        }



        let data_form = Vue.component("data_form", {
                name: "data_form",
                props: ["current_data", "stack", "dev", "template", "co_type"],
                delimiters: ["[[", "]]"],
                data: function () {
                    return {
                        tmp_value: this.current_data,
                        expand: false,
                        new_key_name: "",
                        new_type: "Number",
                        add_type_sel: "Number"
                    }
                },
                methods: {
                    multiline_edit: function(){
                        let _this = this;
                        layer.prompt({
                            value: _this.tmp_value,
                            area: ["100%", "100%"],
                            title: _this.index_string,
                            formType: 2
                        }, function (value, index, item) {
                            _this.tmp_value = value;
                            layer.close(index);
                        })
                    },
                    rich_edit: function(){
                        let _this = this;
                        $("#rich_edit").show();

                        let rich_editor = null;
                        ClassicEditor
                            .create( document.querySelector('#rich_edit'),{
                                extraPlugins: [ MyCustomUploadAdapterPlugin ],
                                toolbar: {
                                    items: [
                                        "heading",
                                        "|",
                                        "alignment",
                                        "imageStyle:full",
                                        "imageStyle:side",
                                        // "imageTextAlternative",
                                        "bold",
                                        "italic",
                                        // "link",
                                        // "bulletedList",
                                        // "numberedList",
                                        "imageUpload",
                                        "blockQuote",
                                        "insertTable",
                                        "mediaEmbed",
                                        "undo",
                                        "redo"
                                    ]
                                },
                                alignment: {
                                    options: ["left", "right", "center", "justify"]
                                },
                                image: {
                                    toolbar: [
                                        "imageStyle:full",
                                        "imageStyle:side",
                                        "|",
                                        "imageTextAlternative"
                                    ]
                                },
                                table: {
                                    contentToolbar: ["tableColumn", "tableRow", "mergeTableCells"]
                                },
                                // This value must be kept in sync with the language defined in webpack.config.js.
                                language: "zh-cn"
                            })
                            .then(editor=>{
                                rich_editor = editor;
                                rich_editor.setData(_this.tmp_value);
                            })
                            .catch( error => {
                                console.error( error );
                            });


                        let rich_edit_layer = layer.open({
                            type : 1,
                            content: $("#rich_edit"),
                            area:['800px','600px'],
                            btn:["保存", "取消"],
                            title: _this.index_string,
                            yes: function () {
                                _this.tmp_value = rich_editor.getData();
                                layer.close(rich_edit_layer);
                            },
                            btn2: function () {
                                layer.close(rich_edit_layer);
                            },
                            end: function(){
                                $("#rich_edit").hide();
                                $(".ck").remove();
                            }
                        });
                    },
                    get_data_type: function (_data) {
                        if (_data === undefined) {
                            return "Undefined";
                        }
                        if (_data.type === undefined) {
                            if (_data instanceof Array) {
                                return "Array";
                            } else if (typeof _data == "string") {
                                return "String";
                            } else if (typeof _data == "number") {
                                return "Number";
                            } else {
                                return "Object";
                            }
                        } else {
                            return _data.type;
                        }
                    },

                    data_changed: function () {
                        this.$emit("data_change", {
                            stack: this.stack,
                            value: this.get_data_type(this.current_data) === "Number" ? this.tmp_value - 0 : this.tmp_value
                        });
                    },

                    add_item_to_array: function (arr, item) {
                        let ret = [];
                        for (let i of arr) {
                            ret.push(i);
                        }
                        ret.push(item);
                        return ret;
                    },
                    to_string: function (obj) {
                        if (typeof obj == "string") {
                            return '"' + obj + "'";
                        }
                        return obj;
                    },


                    add_new: function () {
                        let _this = this;
                        if (_this.get_data_type(_this.current_data) === "Array") {
                            _this.$emit("add_new_data", {
                                src_type: "Array",
                                key: _this.new_key_name,
                                item_type: _this.new_type,
                                stack: _this.stack
                            });
                        } else if (_this.get_data_type(_this.current_data) === "Object") {
                            if (_this.new_key_name.length === 0) {
                                layui.use("layer", function () {
                                    let layer = layui.layer;
                                    layer.msg("请先输入属性名称！", {icon: 2});
                                })
                            } else if (_this.current_data[_this.new_key_name] !== undefined) {
                                layui.use("layer", function () {
                                    let layer = layui.layer;
                                    layer.msg("属性" + _this.new_key_name + "已存在，请使用其他属性名称", {icon: 2});
                                })
                            } else {
                                _this.$emit("add_new_data", {
                                    src_type: "Object",
                                    key: _this.new_key_name,
                                    item_type: _this.new_type,
                                    stack: _this.stack
                                });
                            }
                        }
                    }
                },
            
                computed: {
                    current_data_type: function () {
                        return this.get_data_type(this.current_data);
                    },
                    index_string: function () {
                        let ret = this.co_type;
                        for (let k of this.stack) {
                            ret += "[" + this.to_string(k) + "]";
                        }
                        return ret;
                    }
                },

                template: `
                <div class="layui-form layui-form-pane">
                    <div class="layui-collapse" lay-accordion="" lay-filter="test">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">
                              <span>[[ index_string ]]
                                  <!--<i class="layui-icon layui-colla-icon">[[ expand?"":"" ]]</i>-->
                              </span>
                            </h2>
                            <div class="layui-colla-content">
                                <div v-if="current_data_type == 'Object' || current_data_type == 'Array'">
                                    <table class="layui-table" lay-size="sm" >
                                        <colgroup>
                                            <col width="100">
                                            <col>
                                            <col width="150" v-if="co_type==='template' || dev || current_data_type == 'Array'">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>索引</th>
                                            <th>值</th>
                                            <th v-if="co_type==='template' || dev || current_data_type == 'Array'">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(value,key) in current_data">
                                            <td>[[ key ]]</td>
                                            <td>
                                                <data_form :current_data=value :stack="add_item_to_array(stack, key)" :template="template"
                                                           @data_change="$emit('data_change', $event);"
                                                           @delete_data="$emit('delete_data', $event)"
                                                           @add_new_data="$emit('add_new_data', $event)"
                                                           @to_template="$emit('to_template', $event)"
                                                           :co_type="co_type"
                                                           :dev="dev"
                                                           ></data_form>
                                            </td>
                                            <td v-if="co_type==='template' || dev || current_data_type === 'Array'">
                                                <button @click="$emit('delete_data', {stack:stack, index:key})"
                                                    class="layui-btn layui-btn-danger layui-btn-sm">
                                                    <i class="layui-icon" title="删除">删除</i>
                                                </button>
                                                <button v-if="co_type==='data'" @click="$emit('to_template', {key: key,stack: stack})"
                                                    class="layui-btn layui-btn-green layui-btn-sm">
                                                    <i class="layui-icon" title="抽象">抽象</i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="layui-inline">
                                        <div class="layui-input-inline">
                                             <input type="text" v-if="(co_type==='template' || dev) && current_data_type === 'Object'"
                                                                 v-model="new_key_name" placeholder="新属性名" class="layui-input">
                                        </div>
                                        <div class="layui-inline">
                                            <select v-model="new_type" class="layui-select" lay-ignore="true" v-if="co_type==='template' || dev || current_data_type==='Array'">
                                                <option v-for="(v,k) in template">[[ k ]]</option>
                                            </select>
                                        </div>
                                        <div class="layui-input-inline">
                                            <button @click="add_new" class="layui-btn layui-btn-sm" v-if="co_type=='template' || dev || current_data_type==='Array'">
                                            <i class="layui-icon" title="新增">新增</i></button>
                                        </div>
                                    </div>
                                </div>
                                <div v-else-if="current_data_type == 'String'">
                                    <div class="layui-form-item layui-form-text">
                                        <div class="layui-input-block layui-inline">
                                            <input type="text" v-model="tmp_value" autocomplete="off" placeholder="请输入内容"
                                                   class="layui-input layui-input-inline" :class="{'layui-bg-orange':tmp_value !== current_data}">
                                            <button class="layui-btn layui-btn-radius layui-btn-sm" @click="multiline_edit">多行编辑</button>
                                            <button class="layui-btn layui-btn-radius layui-btn-sm layui-btn-warm" @click="rich_edit">富文本编辑</button>
                                            <button class="layui-btn layui-btn-normal layui-btn-radius layui-btn-sm" @click="data_changed">
                                                确认修改
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div v-else-if="current_data_type == 'Number'">
                                    <div class="layui-form-item layui-form-text">
                                        <div class="layui-input-inline">
                                            <input type="number" name="phone" lay-verify="required|number" placeholder="请输入数字"
                                                   autocomplete="off" class="layui-input layui-input-inline" v-model="tmp_value" :class="{'layui-bg-orange':0 - tmp_value !== 0 - current_data}">
                                            <button class="layui-btn layui-btn-normal layui-btn-radius layui-btn-sm" @click="data_changed">确认修改</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                `
            }
        );


        let app = new Vue({
            el: "#app",
            data: {
                type_data:{{type_data|tojson}},
                title:"{{title}}",
                dev:{{dev|tojson}},
                footer:"{{footer}}",
                page_type: "",
                user:{
                    name:"{{user_name}}",
                    img:"{{user_img}}"
                },
                tmp_title:"{{title}}",
                tmp_footer:"{{footer}}",
                old_ps:"",
                new_ps:"",
                new_ps2:"",
                file_data:{{file_data|tojson}},
                image_data:{{image_data|tojson}},
                music_data:{{music_data|tojson}},
                video_data:{{video_data|tojson}},
                tmp_user_img: "{{user_img}}",
                tmp_user_name: "{{user_name}}",
                old_dev_ps:"",
                new_dev_ps:"",
                new_dev_ps2:"",
                template:{{template|tojson}}
            },
            delimiters: ["[[", "]]"],
            components: {
                data_form: data_form
            },
            methods: {
                close_dev: function(){
                    let _this = this;
                    layer.confirm("确认关闭开发模式？", {
                        btn:["确认", "取消"]
                    }, function(){
                        $.post("close_dev",{},function () {
                            layer.msg("关闭开发模式成功", {icon:1});
                            _this.dev = false;
                            _this.page_type = "";
                        }).fail(function(){
                            layer.msg("关闭开发模式成功", {icon:1});
                            _this.dev = false;
                            _this.page_type = "";
                        });
                    }, function(){});
                },
                dev_mode: function(){
                    let _this = this;
                    if(this.dev){
                        this.page_type='dev';
                    }else {
                        layer.prompt({
                            formType: 1,
                            value: '',
                            title: '请输入开发密码(开发者模式为开发团队预留的开发接口，一般无需设置)',
                        }, function (value, index, elem) {
                            layer.close(index);
                            $.post("open_dev", {dev_ps: md5(value)}, function (res) {
                                let result = JSON.parse(res);
                                if (result.code === 0) {
                                    _this.dev = true;
                                    layer.msg("打开开发者模式成功", {icon: 1});
                                } else {
                                    layer.msg("打开开发者模式失败：" + result.msg, {icon: 2});
                                }
                            }).fail(function () {
                                layer.msg("打开开发者模式失败", {icon: 2});
                            });
                        });
                    }
                },
                change_user_info: function(){
                    let _this = this;
                    layer.confirm("确认修改用户信息？", {
                        btn: ["确认", "取消"]
                    }, function(){
                        $.post("change_user_info", {name: _this.tmp_user_name, img: _this.tmp_user_img}, function(res){
                            let result = JSON.parse(res);
                            if(result.code === 0){
                                layer.msg("修改成功", {icon:1});
                                _this.user.name = _this.tmp_user_name;
                                _this.user.img = _this.tmp_user_img;
                            } else {
                                layer.msg("修改失败：" + result.msg, {icon:2});
                                _this.tmp_user_name = _this.user.name;
                                _this.tmp_user_img = _this.user.img;
                            }
                        }).fail(function(){
                            layer.msg("修改失败", {icon:2});
                            _this.tmp_user_name = _this.user.name;
                            _this.tmp_user_img = _this.user.img;
                        });
                    }, function(){
                        _this.tmp_user_name = _this.user.name;
                        _this.tmp_user_img = _this.user.img;
                    })
                },
                show_video: function(url){
                    layer.open({
                        type:1,
                        content: "<video width=\"320\" height=\"240\" controls>\n" +
                            "  <source src=\"" + url + "\">\n" +
                            "浏览器不支持播放此格式\n" +
                            "</video>",
                        title: url
                    });
                },
                show_image: function(url){

                    layer.photos({
                        photos:{
                            data:[
                                {
                                    src: url
                                }
                            ]
                        }
                    });
                },

                delete_image: function(file_name){
                    let _this = this;
                    layer.confirm("确认删除文件:"+file_name+"?",{
                        btn:["确认","取消"]
                    }, function () {
                        $.post("delete_image", {name:file_name}, function (res) {
                            let result = JSON.parse(res);
                            if(result.code === 0){
                                layer.msg("删除成功", {icon:1});
                                for(let i in _this.image_data){
                                    if(_this.image_data[i].name === file_name)
                                    {
                                        Vue.delete(_this.image_data, i);
                                        break;
                                    }
                                }
                            } else {
                                layer.msg("删除失败：" + result.msg, {icon:2});
                            }
                        }).fail(function () {
                            layer.msg("删除失败", {icon:2});
                        });
                    }, function () {

                    });
                },
                delete_file: function(data_src ,file_url){
                    layer.confirm("确认删除文件:"+file_url+"?",{
                        btn:["确认","取消"]
                    }, function () {
                        let url = file_url.substring(file_url.lastIndexOf("/")+1);
                        let type = file_url.substring(0,file_url.lastIndexOf("/"));
                        type = type.substring(type.lastIndexOf("/")+1);
                        $.post("delete_file", {url:url, type:type}, function (res) {
                            let result = JSON.parse(res);
                            if(result.code === 0){
                                layer.msg("删除成功", {icon:1});
                                for(let i in data_src){
                                    if(data_src[i].url === file_url)
                                    {
                                        Vue.delete(data_src, i);
                                        break;
                                    }
                                }
                            } else {
                                layer.msg("删除失败：" + result.msg, {icon:2});
                            }
                        }).fail(function () {
                            layer.msg("删除失败", {icon:2});
                        });
                    }, function () {

                    });
                },
                change_dev_password: function(){
                    if(this.old_dev_ps.length === 0){
                        layer.msg("请输入原开发密码", {icon:2});
                        return;
                    }
                    if(this.new_dev_ps.length === 0){
                        layer.msg("新开发密码不能为空", {icon:2});
                        return;
                    }
                    if(this.new_dev_ps !== this.new_dev_ps2){
                        layer.msg("新开发密码与确认开发密码不一致", {icon:2});
                        return;
                    }
                    let _this = this;
                    $.post("change_dev_ps", {old_dev_ps:md5(this.old_dev_ps), new_dev_ps:md5(this.new_dev_ps)}, function(res){
                        let result = JSON.parse(res);
                        if(result.code !==0)
                        {
                            layer.msg("开发密码修改失败:" + result.msg, {icon:2});
                        }else{
                            layer.msg("开发密码修改成功", {icon:1});
                            _this.new_dev_ps = _this.new_dev_ps2 = _this.old_dev_ps = "";
                        }
                    }).fail(function(){
                        layer.msg("开发密码修改失败", {icon:2});
                    });
                },
                change_password: function(){
                    if(this.old_ps.length === 0){
                        layer.msg("请输入旧密码", {icon:2});
                        return;
                    }
                    if(this.new_ps.length === 0){
                        layer.msg("新密码不能为空", {icon:2});
                        return;
                    }
                    if(this.new_ps !== this.new_ps2){
                        layer.msg("密码与确认密码不一致", {icon:2});
                        return;
                    }
                    let _this = this;
                    $.post("change_ps", {old_ps:md5(this.old_ps), new_ps:md5(this.new_ps)}, function(res){
                        let result = JSON.parse(res);
                        if(result.code !==0)
                        {
                            layer.msg("密码修改失败：" + result.msg, {icon:2});
                        }else{
                            layer.msg("密码修改成功", {icon:1});
                            _this.new_ps = _this.new_ps2 = _this.old_ps = "";
                        }
                    }).fail(function(){
                        layer.msg("密码修改失败", {icon:2});
                    });
                },
                change_base_info: function(){
                    let _this = this;
                    layui.use(["layer","jquery"], function () {
                        let layer = layui.layer;
                        let $ = layui.jquery;
                        layer.confirm("确认将后台管理标题修改为\"" + _this.tmp_title + "\",版权信息修改为\"" + _this.tmp_footer + "\"?",{
                            btn: ["确认", "取消"]
                        }, function () {
                            $.post("change_base_info", {title:_this.tmp_title, footer: _this.tmp_footer}, function () {
                                layer.msg("修改成功", {icon:1});
                                _this.title = _this.tmp_title;
                                _this.footer = _this.tmp_footer;
                            });
                        }, function () {

                        })
                    });
                },
                on_to_template: function(data)
                {
                    let _this = this;
                    layer.prompt({
                        value: _this.tmp_value,
                        area: ["100%", "100%"],
                        title: "请输入新的模板名称",
                        formType: 0
                    }, function (value, index, item) {
                        if(_this.template[value] !== undefined)
                        {
                            layer.msg("模板名称已存在" , {icon:2});
                            return;
                        }
                        data["t_name"] = value;
                        $.post("to_template", {"data": JSON.stringify(data)}, function (res) {
                            let ret = JSON.parse(res);
                            if (ret.code !== 0) {
                                layer.msg("错误：" + ret.code, {icon: 2});
                                return;
                            }
                            v = _this.template;
                            let value = ret.data;
                            Vue.set(v, data.key, value);
                            layer.msg("添加成功", {icon: 1});
                            Vue.nextTick(function(){
                                element.init();
                            });
                        }).fail(function (res) {
                            layer.msg("添加失败", {icon: 2});
                        });
                        layer.close(index);
                    })
                },
                on_add_new_data: function (co_type,data) {
                    let _this = this;
                    layui.use(["jquery", "layer"], function () {
                        let $ = layui.jquery;
                        let layer = layui.layer;
                        $.post("add_data", {"data": JSON.stringify(data), "co_type" : co_type}, function (res) {
                            let ret = JSON.parse(res);
                            if (ret.code !== 0) {
                                layer.msg("错误：" + ret.code, {icon: 2});
                                return;
                            }
                            let v = co_type==="data"? _this.type_data : _this.template;
                            for (let key of data.stack) {
                                v = v[key];
                            }
                            let value = ret.data;
                            if (data.src_type === "Array") {
                                v.push(value);
                            } else if (data.src_type === "Object") {
                                Vue.set(v, data.key, value);
                            }
                            layer.msg("添加成功", {icon: 1});
                            Vue.nextTick(function(){
                                element.init();
                            });
                        }).fail(function (res) {
                            layer.msg("添加失败", {icon: 2});
                        });
                    });
                },

                on_data_change: function (co_type, data) {
                    let _this = this;
                    layui.use(["layer", "jquery"], function () {
                        let layer = layui.layer;
                        let $ = layui.jquery;
                        let v = co_type==="data" ? _this.type_data: _this.template;
                        for (let key of data.stack.slice(0, data.stack.length - 1)) {
                            v = v[key];
                        }
                        let key = data.stack[data.stack.length - 1];
                        layer.confirm("确认修改 ?", {
                            btn: ['确认', '取消'] //按钮
                        }, function () {
                            $.post("data_change", {"data": JSON.stringify(data), "co_type":co_type}, function (res) {
                                let ret = JSON.parse(res);
                                if (ret.code !== 0) {
                                    layer.msg("错误：" + ret.code, {icon: 2});
                                    return;
                                }
                                Vue.set(v, key, data.value);
                                layer.msg('更新成功', {icon: 1});
                                Vue.nextTick(function(){
                                    element.init();
                                });
                            }).fail(function (res) {
                                layer.msg('更新失败', {icon: 2});
                            });
                        }, function () {
                        });
                    });
                },

                on_delete_data: function (co_type, data) {
                    let _this = this;
                    layui.use(["jquery", "layer"], function () {
                        let $ = layui.jquery;
                        let layer = layui.layer;

                        let v = co_type==="data"? _this.type_data : _this.template;
                        for (let key of data.stack) {
                            v = v[key];
                        }

                        layer.confirm("确认将 " + data.index + " 删除 ?", {
                            btn: ['确认', '取消'] //按钮
                        }, function () {
                            $.post("delete_data", {"data": JSON.stringify(data), "co_type":co_type}, function (res) {
                                let ret = JSON.parse(res);
                                if (ret.code !== 0) {
                                    layer.msg("错误：" + ret.code, {icon: 2});
                                    return;
                                }
                                Vue.delete(v, data.index);
                                layer.msg('删除成功', {icon: 1});
                                Vue.nextTick(function(){
                                    element.init();
                                });
                            }).fail(function () {
                                layer.msg('删除失败', {icon: 2});
                            })
                        }, function () {
                        });
                    });
                },
            },
        });

        element.init();
        form.render();

        let load_index = null;

        upload.render({
            elem: '#upload_file',
            url: 'upload_file',
            accept: 'file_manager.py',
            auto: false,
            bindAction:"#start_upload_file",
            done: function(res){
                layer.close(load_index);
                if(res.code === 0) {
                    layer.msg("文件上传成功，文件url:" + res.url, {icon: 1});
                    app.$data.file_data.push({url:res.url});
                }else{
                    layer.msg("上传失败："+ res.msg, {icon:2});
                }
            },
            before: function(){
                load_index = layer.load(0);
            },
            error: function (res) {
                layer.close(load_index);
                layer.msg("文件上传失败" , {icon:2});
            }
        });

        upload.render({
            elem: '#upload_image',
            url: 'upload_image',
            exts:"jpeg|jpg|png|gif|ico",
            auto:false,
            bindAction: "#start_upload_image",
            choose: function(obj){
                obj.preview(function(index, file, result){
                    $('#upload_img_preview').attr('src', result);
                });
            },
            before: function(){
                load_index = layer.load(0);
            },
            done: function(res){
                layer.close(load_index);
                if(res.code === 0){
                    layer.msg('图片上传成功，文件url:' + res.url, {icon:1});
                    app.$data.image_data.push({url:res.url, name:res.name, thumbnail:res.thumbnail});
                } else{
                    layer.msg("上传失败："+ res.msg, {icon:2});
                }
            },
            error: function () {
                layer.close(load_index);
                layer.msg("图片上传失败" , {icon:2});
            }
        });


        upload.render({
            elem: '#upload_music',
            url: 'upload_music',
            exts:"wav|mp3|ogg|acc|webm",
            auto: false,
            bindAction:"#start_upload_music",
            done: function(res){
                layer.close(load_index);
                if(res.code === 0) {
                    layer.msg("音乐上传成功，音乐url:" + res.url, {icon: 1});
                    app.$data.music_data.push({url:res.url});
                }else{
                    layer.msg("上传失败："+ res.msg, {icon:2});
                }
            },
            before: function(){
                load_index = layer.load(0);
            },
            error: function (res) {
                layer.close(load_index);
                layer.msg("音乐上传失败" , {icon:2});
            }
        });


        upload.render({
            elem: '#upload_video',
            url: 'upload_video',
            exts:"mp4|webm|ogg",
            auto: false,
            bindAction:"#start_upload_video",
            done: function(res){
                layer.close(load_index);
                if(res.code === 0) {
                    layer.msg("视频上传成功，视频url:" + res.url, {icon: 1});
                    app.$data.video_data.push({url:res.url});
                }else{
                    layer.msg("上传失败："+ res.msg, {icon:2});
                }
            },
            before: function(){
                load_index = layer.load(0);
            },
            error: function (res) {
                layer.close(load_index);
                layer.msg("视频上传失败" , {icon:2});
            }
        });

    });


</script>


</body>
</html>
